<% content_for :title, "お気に入り一覧" %>

<h1 class="text-center text-2xl font-bold">お気に入り登録しているスポット</h1>

<div class="grid sm:grid-cols-3 gap-5 md:gap-8 my-8">
  <% if @bookmarks.any? %>
      <%= render partial: 'spots/spot', collection: @bookmarks.map(&:spot) %>
    </div>
  <% else %>
    <p class="text-center my-10 col-span-3"><%= t('.no_bookmark') %></p>
  <% end %>
</div>

<div class="mx-auto w-3/5">
  <%= back_button %>
</div>
