<% content_for :title, "Editing spot" %>

<div class="md:w-2/3 w-full mx-auto">

  <%= render "form", spot: @spot %>

  <div class="flex w-3/5 flex-col border-opacity-50 mx-auto">
    <div class="divider">OR</div>
    <!-- button to show a spot -->
    <div class="card bg-base-300 rounded-box grid place-items-center mb-5">
      <%= link_to "投稿詳細", @spot, class: "btn btn-primary w-full" %>
    </div>
    <div class="card bg-base-300 rounded-box grid place-items-center">
      <%= link_to "投稿一覧に戻る", spots_path, class: "btn btn-primary w-full" %>
    </div>
  </div>

</div>
