<% content_for :title, "Spots" %>

<%= render 'search_form', q: @q, url: spots_path %>

<div class="grid sm:grid-cols-3 gap-5 md:gap-8 my-8">
  <% if @spots.any? %>
    <% @spots.each do |spot| %>
      <%= render spot %>
    <% end %>
  <% else %>
    <p class="text-center my-10 col-span-3"><%= t('spots.index.no_spots') %></p>
  <% end %>
</div>

<%= paginate @spots %>
