<% content_for :title, "新規投稿" %>

<div class="md:w-2/3 w-full mx-auto">

  <%= render "form", spot: @spot %>

  <div class="w-3/5 mx-auto mt-5 space-y-5">
    <%= back_button %>
    <%= spots_index_button %>
  </div>
</div>
