<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'NighTrip', root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#">新規投稿</a></li>
      <li><a href="#">検索する</a></li>
    </ul>
  </div>
</div>
